<div class="navigation">

            <ul>
                <li> <a href="#" target="_blank" class="active">Home</a></li>
                <li> <a href="/about">About</a></li>
                <li> <a href="#" target="_blank">Fitness Calculator</a></li>
                <li> <a href="#" target="_blank">Contact Us</a></li>
            </ul>
 </div>