h1{
    color:aqua;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 11px;
    padding: 10px 30px;
    text-align: center;
    width: 450px;
    margin: auto;
}
p{
    border: 2px solid black;
    color: orange;
    background-color: rgb(204, 243, 166);
    border-radius: 11px;
    padding: 10px 30px;
    margin: 20px;
}